<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  {% if no_bot == True %}
  <meta name="robots" content="noindex">
  {% endif %}
  {% if 'site' in g and g.site %}
  <title>{{ g.site.siteName }}</title>
  <link rel="shortcut icon" type="image/png" href="{{g.site.favicon_url()}}"/>
  {% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="/static/jquery/jquery.min.js"></script>
  <script src="/static/jquery/jquery-ui.min.js"></script>
  <script src="/static/bootstrap/popper.1.14.3.min.js"></script>
  <script src="/static/bootstrap/4.1/bootstrap.min.js"></script>
  <link rel="stylesheet" href="/static/bootstrap/4.1/bootstrap.min.css">
    
  <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/liberaforms.css">
  <link rel="stylesheet" href="/static/css/custom.css">
</head>

<body>

{% if ('current_user' in g and g.current_user) or (navbar != False) %}
<nav class="navbar navbar-expand-lg navbar-dark navbar-full" style="background-color:{{g.site.menuColor}}">
<div class="container">

    {% if 'site' in g and g.site %}
    <a class="navbar-brand" href="/"><img src="{{g.site.favicon_url()}}" /></a>
    {% endif %}

    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    {% if 'current_user' in g and g.current_user %}
        <ul class="navbar-nav">
            {% if g.current_user.is_root_user() %}
                <li class="nav-item">
                    <a  id="toggle_root_enable"
                        class="nav-link" href="#!"
                        title="{%trans%}Toggle root mode{%endtrans%}">
                    {% if g.is_root_user_enabled %}
                        <i class="fa fa-shield" style="color:red" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-shield" style="color:white" aria-hidden="true"></i>
                    {% endif %}
                    </a>
                </li>
            {% endif %}
            {% if g.current_user.enabled %}
                {% if g.is_admin %}
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/forms">
                            {%trans%}Forms{%endtrans%}
                        </a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/users">
                            {%trans%}Users{%endtrans%}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">
                            {%trans%}Config{%endtrans%}
                            <i class="fa fa-cogs" aria-hidden="true" style="display:none"></i>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/">{{g.site.siteName}}</a>
                    </li>              
                {% endif %}
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="/">{{g.site.siteName}}</a>
                </li>
            {% endif %}
        </ul>
        <ul class="navbar-nav" style="margin-left: auto;">
            {% if g.current_user.enabled %}
                <li class="nav-item">
                    <a class="nav-link" href="/forms">
                        {%trans%}My forms{%endtrans%}
                        <i class="fa fa-file-text-o" aria-hidden="true" style="display:none"></i>
                    </a>
                </li>            
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="/user/{{ g.current_user.username }}">
                    {%trans%}Profile{%endtrans%}
                    <i class="fa fa-user-circle-o" aria-hidden="true" style="display:none"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/logout">
                    {%trans%}Logout{%endtrans%}
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    {% else %}
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">{{g.site.siteName}}</a>
            </li>
        </ul>
        <ul class="navbar-nav" style="margin-left: auto;">
            {% if not g.site.invitationOnly %}
                <li class="nav-item">
                    <a class="nav-link" href="/user/new">
                        {%trans%}Create an account{%endtrans%}
                    </a>
                </li>
            {% endif %}
            <li class="nav-item" style="margin-right: 1em">
                <a class="nav-link" href="/user/login">
                    {%trans%}Login{%endtrans%}
                </a>
            </li>
        </ul>
    {% endif %}
    </div>
</div>
</nav>
{% endif %}


{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="{{ category }} flash_message">
                {{ message | safe }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}


<div id="main-content">
{% block content %}{% endblock %}
</div>

<p>&nbsp;</p>
<div id="footer" class="container-fluid">
    AGPLv3 <a href="https://liberaforms.org">LiberaForms</a>
</div>


{% if 'current_user' in g and g.current_user %}
<script>
var csrftoken = "{{ csrf_token() }}";
{% if g.current_user.is_root_user() %}
document.getElementById('toggle_root_enable').addEventListener('click', function(evt){
    evt.preventDefault();
    toggleRootMode();
});
function toggleRootMode() {
    $.ajax({
        url : "/site/toggle-root-mode-enabled",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            location.reload();
            return false;
        }
    });    
}
{% endif %}
</script>
{% endif %}

</body>
</html>
