{% extends "vanilla-base.html" %}

{% block content %}

<div class="container">
    <div class="col-md-12" style="text-align:center">
        <h1>{%trans%}Opps! 404{%endtrans%}</h1>
        <h1>:'(</h1>
    </div>
</div>

{% endblock %}
