{% extends "base.html" %}
{% block content %}

<div class="container">
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-7">
        
        <div class="returnToForm">
            <a class="btn btn-primary btn-sm" role="button" href="/forms/view/{{form.id}}">{%trans%}Return to form{%endtrans%}</a>
            {{ form.slug }}
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="title_1">{%trans%}Editors{%endtrans%}</div>
        <p>{%trans%}Users listed here have the <b>same permissions</b> as you{%endtrans%}</p>

        <table class="table table-sm">
        {% for editor in form.get_editors() %}
            <tr id="editor_{{editor.id}}">
                <td>
                    {{ editor.email }}
                </td>
                <td class="text-right">
                {% if form.is_author(editor) %}
                    <span class="badge badge-pill badge-light author-badge">
                        {%trans%}Author{%endtrans%}
                    </span>
                {% else %}
                    <input class="btn btn-xs btn-danger" type="button" value="{%trans%}Remove{%endtrans%}" onClick="js:removeEditor('{{editor.id}}');">
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </table>
            
        <form action="/forms/add-editor/{{form.id}}" method="POST">
            {{ wtform.csrf_token }}
            <div class="input-group input-group-sm mb-3">
              <input name="email" type="text" class="form-control" placeholder="person@example.com" aria-label="Recipient's username" aria-describedby="button-editor">
              <div class="input-group-append">
                <button class="btn btn-primary" type="submit" id="button-editor">{%trans%}Add new editor{%endtrans%}</button>
              </div>
            </div>
        </form>
    </div>
</div>
<div class="row">
    
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <br />
        <div class="title_1">{%trans%}Share results{%endtrans%}</div>
        <p>{%trans%}Readonly access for <b>anyone</b> with a copy of these links{%endtrans%}</p>

        <div id="toggle_sharedEntries" class="btn-group btn-toggle">
            <button id="sharedEntries_true" class="btn btn-sm btn-default {% if form.are_entries_shared() %}btn-success{% endif %}">{%trans%}Enabled{%endtrans%}</button>
            <button id="sharedEntries_false" class="btn btn-sm btn-default {% if not form.are_entries_shared() %}btn-primary{% endif %}">{%trans%}Disabled{%endtrans%}</button>
        </div>
        <p></p>
        <div id="disabled_links" {%if form.are_entries_shared()%}style="display:None"{%endif%}>
            <span class="badge badge-secondary">CSV</span>
            <span style="text-decoration:line-through;">{{ form.get_shared_entries_url('csv') }}</span>
            <br />
            <span class="badge badge-secondary">JSON</span>
            <span style="text-decoration:line-through;">{{ form.get_shared_entries_url('json') }}</span>
            <br />
            <span class="badge badge-secondary">WEB</span>
            <span style="text-decoration:line-through;">{{ form.get_shared_entries_url() }}</span>
        </div>
        <div id="enabled_links" {%if not form.are_entries_shared()%}style="display:None"{%endif%}>
            <span class="badge badge-secondary">CSV</span>
            <a href="{{ form.get_shared_entries_url('csv') }}">{{ form.get_shared_entries_url('csv') }}</a>
            <br />
            <span class="badge badge-secondary">JSON</span>
            <a href="{{ form.get_shared_entries_url('json') }}">{{ form.get_shared_entries_url('json') }}</a>
            <br />
            <span class="badge badge-secondary">WEB</span>
            <a href="{{ form.get_shared_entries_url() }}">{{ form.get_shared_entries_url() }}</a>
        </div>        
    </div>
</div>
<p>&nbsp;</p>
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        
        <div id="restricted_access" class="title_1">{%trans%}Restricted access{%endtrans%}</div>
        <p>{%trans%}Only visible to people with a user account (login required){%endtrans%}</p>
        <div>
            <span id="toggle_restrictedAccess" class="btn-group btn-toggle">
                <button id="restrictedAccess_true" class="btn btn-sm btn-default {% if form.restrictedAccess %}btn-success{% endif %}">{%trans%}Restricted{%endtrans%}</button>
                <button id="restrictedAccess_false" class="btn btn-sm btn-default {% if not form.restrictedAccess %}btn-primary{% endif %}">{%trans%}Public form{%endtrans%}</button>
            </span>
        </div>
    </div>
</div>
</div>

<script>
var csrftoken = "{{ csrf_token() }}";
function removeEditor(editor_id){
    $.ajax({
        url : "/forms/remove-editor/{{form.id}}/"+editor_id,
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data == editor_id) {
                $('#editor_'+editor_id).hide();
            }
        }
    });
}
document.getElementById('toggle_sharedEntries').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-shared-entries/{{ form.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.enabled == true) {
                $('#sharedEntries_true').addClass('btn-success');
                $('#sharedEntries_false').removeClass('btn-primary');
                $('#enabled_links').show()
                $('#disabled_links').hide()
            }
            else if (data.enabled == false) {
                $('#sharedEntries_true').removeClass('btn-success');
                $('#sharedEntries_false').addClass('btn-primary');
                $('#enabled_links').hide()
                $('#disabled_links').show()
            }
        }
    });
});

document.getElementById('toggle_restrictedAccess').addEventListener('click', function(evt){
    $.ajax({
        url : "/form/toggle-restricted-access/{{ form.id }}",
        type: "POST",
        dataType: "json",
        beforeSend: function(xhr, settings) {
            if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken)
            }
        },
        success: function(data, textStatus, jqXHR)
        {
            if (data.restricted == true) {
                $('#restrictedAccess_true').addClass('btn-success');
                $('#restrictedAccess_false').removeClass('btn-primary');
            }
            else if (data.restricted == false) {
                $('#restrictedAccess_true').removeClass('btn-success');
                $('#restrictedAccess_false').addClass('btn-primary');
            }
        }
    });
});
</script>
  
{% endblock %}
